<?xml version="1.0"?>
<SnapMD.ConnectedCare.Sdk.Test.Properties.Settings>
    <setting name="ApiDeveloperId" serializeAs="String">
        <value>84f6101ff82d494f8fcc5c0e54005895</value>
    </setting>
    <setting name="ApiKey" serializeAs="String">
        <value>d3d2f653608d25c080810794928fcaa12ef372a2</value>
    </setting>
    <setting name="TestUsername" serializeAs="String">
        <value>aaron.lord+toddg@snap.md</value>
    </setting>
    <setting name="TestPassword" serializeAs="String">
        <value>Password@123</value>
    </setting>
    <setting name="BaseUrl" serializeAs="String">
        <value>http://snap.local/api/</value>
    </setting>
</SnapMD.ConnectedCare.Sdk.Test.Properties.Settings>
