<?xml version="1.0"?>
<SnapMD.ConnectedCare.Sdk.Tests.Properties.Settings>
    <setting name="ApiDeveloperId" serializeAs="String">
        <value>******</value>
    </setting>
    <setting name="ApiKey" serializeAs="String">
        <value>*********</value>
    </setting>
    <setting name="TestUsername" serializeAs="String">
        <value>*********</value>
    </setting>
    <setting name="TestPassword" serializeAs="String">
        <value>*********</value>
    </setting>
    <setting name="BaseUrl" serializeAs="String">
        <value>https://sandbox.connectedcare.md/api/</value>
    </setting>
</SnapMD.ConnectedCare.Sdk.Tests.Properties.Settings>