<!doctype html>

<html lang="en" ng-app="snapApp">
<head>
  <meta charset="utf-8">

  <title>SnapMD SSO Emulator</title>
  <meta name="description" content="The SnapMD SSO Emulator">
  <meta name="author" content="SnapMD Developer">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-cookies.min.js"></script>
  <script src="js/scripts.js"></script>
</head>

<body ng-controller="snapCtrl">
  <form>
    <div class="imgcontainer">
      <img src="img/avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Username" name="email" required ng-model="req.email">

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required ng-model="req.pass">

      <button type="button" ng-click="login()">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <span class=""><a href="#" onclick="document.getElementById('id01').style.display='block'">Options</a></span>
    </div>
  </form>

  <!-- The Modal -->
  <div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

    <!-- Modal Content -->
    <form class="modal-content animate" action="/action_page.php">
      <div class="container">
        <label for="hosts"><b>Hosts</b></label><br />
        <select name="hosts" ng-model="opts.host" ng-options="opt.name for opt in hosts"></select><br /><br />

        <label for="roles"><b>Roles</b></label><br />
        <select name="roles" ng-model="opts.role" ng-options="opt.name for opt in roles"></select><br /><br />

        <label for="langs"><b>Languages</b></label><br />
        <select name="langs" ng-model="opts.lang" ng-options="opt.name for opt in langs"></select><br /><br />

        <label for="fees"><b>Fees</b></label><br />
        <select name="fees" ng-model="opts.fee" ng-options="opt.name for opt in fees"></select><br /><br />
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'">Close</button>
      </div>
    </form>
  </div>

  <!-- The Modal -->
  <div id="id02" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span onclick="document.getElementById('id02').style.display='none'" class="close">&times;</span>
      <p id="modalMessage">
        Some text in the Modal..
      </p>
    </div>

  </div>  
</body>
</html>